/* Reset Rule */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Body */
body {
	margin: 0 auto;
	font-family: 'TikTok Sans', sans-serif;
}

/* Video */
video {
	height: 100%;
	width: 100%;
	display: block;
	object-position: center;
	object-fit: cover;
}

/* Reel Page */
.reel-page {
	height: 100vh;
	/* ti incuriosisce? */
	max-width: 512px;
	min-width: 400px;
	position: relative;

	/* Format style a Tag */
	a {
		text-decoration: none;
		color: white;
	}
}

/* Class reel_header */
.reel-header {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;

	/* Reel nav_bar Container Flex*/
	.nav_bar {
		display: flex;
		color: white;
		justify-content: space-between;
		align-items: flex-end;

		/* Flex Items btn_box  Father: nav_bar */
		.btn_box {
			margin: 0.5rem;
			padding: 0.7rem;
			font-size: 1.5rem;

		}

		/* btn_3_text Container Flex */
		.btn_3_text {
			display: flex;
			justify-content: center;
			min-width: 60%;
			padding: 0.2rem;
		}

		/* Flex Items btn_text  Father: btn_3_text */
		.btn_text {
			margin-right: 0.8rem;
			font-size: 18px;
			align-content: center;
		}

		/* Selector Items for apply Border Style */
		.btn_3_text>:nth-child(3) {
			border-bottom: 2px solid white;
		}
	}
}

/* Class sidebar */
.sidebar {
	padding: 0 16px;
	position: absolute;
	right: 0;
	top: 32%;

	/* reel_action_box Container Flex */
	.reel_action_box {
		display: flex;
		flex-direction: column;
		color: white;

		/* Flex Items action_btn  Father: reel_action_box */
		.action_btn {
			width: 80px;
			height: 80px;
			margin-bottom: 0.5rem;
			font-size: 2rem;
			text-align: center;
			justify-content: center;

			/* Formatting span Tag inside sidebar -> reel_action_box -> action_btn */
			span {
				display: block;
				font-size: 1rem;
			}
		}

		/* profile_btn container Flex */
		.profile_btn {
			display: flex;
			position: relative;
			left: 15%;
			width: 50px;
			height: 50px;

			/* Flex Item profile_badge */
			.profile_badge {
				position: absolute;
				bottom: 0;
				left: 50%;
				translate: -50% 50%;
				font-size: 20px;
				color: red;
			}

			/* Formatting img Tag inside sidebar -> reel_action_bar -> profile_btn */
			img {
				border-radius: 1.5rem;
				object-fit: cover;
				object-position: center;
			}
		}
	}
}

/* Class reel_info */
.reel_info {
	position: absolute;
	max-width: 70%;
	bottom: 9%;
	padding: 1rem;
	color: white;
	text-decoration: none;

	/* Formatting reel_title */
	.reel_title {
		margin-bottom: 0.5rem;
		font-size: 1rem;
	}
}

/* Tag footer */
footer {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	color: #fff;
	background-color: black;

	/* profile_action_box Container Flex */
	.profile_action_box {
		display: flex;
		justify-content: space-around;
		color: white;

		/* Flex Items action_btn  Father: profile_action_box */
		.action_btn {
			align-content: center;
			width: 80px;
			height: 75px;
			font-size: 1.5rem;
			text-align: center;

			/* Formatting span Tag inside footer -> profile_action_box -> action_btn */
			span {
				display: block;
				font-size: 0.8rem;
			}
		}

		/* Class icon_plus */
		.icon_plus {
			background-color: transparent;
			position: relative;
			bottom: 10px;
			font-size: 2rem;
		}

		/* Class badge_recive_message */
		.badge_recive_message {
			position: relative;

			/* Formatting Style Simpla Badge */
			.simple_badge {
				position: absolute;
				right: 20%;
				border-radius: 9px;
				padding: 0 6px;
				font-size: 13px;
				background-color: red;
			}
		}
	}
}



/* ---------------------
Regole per evidenziare i blocchi 
da rimuovere una volta concluso
--------------------- */
.debug footer {
	/* min-height: 100px; */
	border: 2px dashed #fff;
}

.debug .sidebar * {
	/* min-width: 80px;
	min-height: 450px; */
	border: 2px dashed #ff0;
}

.debug .reel-header * {
	/* min-height: 50px; */
	border: 2px dashed #fff;
}

/* --------------------- */